<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <title>Read(One)</title>
</head>
<body>
    <div class="container p-4">
        <div class="container d-flex justify-content-between">
            <h1 class="mt-2 mb-2">User {{ id }}: {{ user.first_name }}</h1>
            <a href="/users" class="btn btn-primary mt-3" style="height: 40px;">Home</a>
        </div>
        <div class="card">
            <div class="card-body">
                <p><b>Full Name:</b> {{ user.first_name }} {{ user.last_name }}</p>
                <p><b>Email:</b> {{ user.email }}</p>
                <p><b>Created On:</b> {{ user.created_at }}</p>
                <p><b>Last Updated On:</b> {{ user.updated_at }}</p>
            </div>
        </div>
        <a href="/users/{{id}}/edit" class="btn btn-dark mt-4 me-2">Edit</a>
        <a href="/users/{{id}}/delete" class="btn btn-danger mt-4 me-2">Delete</a>
    </div>
</body>
</html>